.PortfolioPage {
  background: rgba(248, 248, 248, 0.65);
  padding: 25px 35px 55px;
  // margin-top: 75px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  margin: 150px auto 55px;
}