@import '../../variables/variables.scss';

.ContactPage {
    margin-top: 6em;

    .image {
        background-image: url('/aaron-burden-xG8IQMqMITM-unsplash.jpg');
        background-size: 100% 100%;
    }

    header {
        max-width: 1020px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 125px;
        margin-bottom: 35px;
    }

    p {
        margin: 0 auto 30px;
        display: block;
        // outline: 1px dotted red;
        max-width: 1020px;
        font-family: "Lekton";
    }

    form {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Lekton";
        /* margin-top: 25vh; */
        padding: 45px 35px 25px 35px;
        /* background: rgba(255, 247, 247, 0.842); */
        background: rgba(248, 248, 248, 0.65);
        max-width: 1020px;
    }

    .social {
        max-width: max-content;
        text-align: center;
        margin: 60px auto 60px;
        font-family: 'Lekton';
        // outline: 1px dotted red;

        .icons-container {
            display: flex;
        }

        a {
            text-align: center;
            line-height: 85px;
            background: #fad6d6e5;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            display: block;
            font-size: 24px;
            margin: 0 10px;

            &:hover {
                background: #f7c5c5fa;
                cursor: pointer;
            }
        }
    }

    .form-container {
        max-width: 1020px;
        width: 100%;
    }

    .labels-container {
        width: 100%;
        display: flex;
    }

    .labels-container label {
        width: 33.2%
    }

    .input-container {
        width: 100%;
        display: flex;
    }

    .input-container input {
        width: 33.2%;
        margin-right: 25px;
        height: 25px;

        &:focus {
            outline-width: 0;
        }
    }

    textarea {

        &:focus {
            outline-width: 0;
        }
    }

    input,
    textarea {
        border: 0px;
        // border-radius: 10px;
        padding: 10px 20px;
        font-family: 'Lekton', sans-serif;
        font-size: 1em;
        background-color: rgba(255, 240, 238, 0.514);
        border-color: Transparent;
    }

    .small-show {
        display: none;
    }
}




.ContactPage form .message-container {
    width: 100%;

    font-family: "Lekton";
    display: flex;
    flex-direction: column;
    margin-top: 35px;

}

.message-container label {
    width: 100%;
}

.message-container textarea {
    margin-right: 25px;
    height: 85px;
}

.ContactPage button {
    width: 85px;
    height: 45px;
    background-color: #96B1B4;
    color: white;
    font-family: "Lekton", sans-serif;
    font-size: 18px;
    margin-top: 35px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
}

.ContactPage button:hover {
    cursor: pointer;
    background-color: #CEE1E9;
    box-shadow: 0px 15px 20px rgba(144, 156, 161, 0.356);
    transform: translateY(-7px);
}

.ContactPage button:active {
    transform: translateY(7px);
    background-color: #96B1B4;
}

#banner {
    position: absolute;
    z-index: -11;
    width: 100vw;
    margin-left: -15px;
    height: 80vh;
}

.contact-icons {
    position: relative;
    top: 80vh;
    /* margin: 55vh auto 10% auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgba(255, 247, 247, 0.842); */
    width: 100vw;
    margin-left: -15px;
    height: 30vh;
    z-index: -11;
}

.circles {
    height: auto;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: row;
    list-style-type: none;
}

.circle {
    display: flex;
    flex-direction: column;
    height: calc(8vh);
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 34px;
    color: #CACAD6;

    border: none;
    border-radius: 100%;
    width: calc(8vh);



}

.circles li .circle p {
    font-size: 14px;
    font-family: 'Barlow Condensed', sans-serif;
}

.circles li {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.circles li p {
    margin-top: 8px;
    font-family: "Lekton", sans-serif;
    color: rgb(158, 158, 158)
}

.right p {
    margin-bottom: 15px;
}


.modal {
    display: none;
    z-index: 1000;
    position: fixed;
    background: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 20%;
    font-family: 'Lekton';
}

.close {
    float: right;
    font-size: 30px;
    padding-right: 8px;
}

.modal h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.close {
    cursor: pointer;
}

.loader {
    border: 12px solid #f3f3f3;
    /* Light grey */
    border-top: 12px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}

@media screen and (max-width: 735px) {
    .ContactPage {
        margin-top: 2em;

        .small-hide {
            display: none;
        }

        .small-show {
            display: flex;
            margin-top: 20px;

            label {
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }
}