
.AboutPage {
  padding-top: 55px;
    padding-bottom: 100px;
}


.AboutPage * {

}


.AboutPage img {
    width: 100%;

}

.split {
    font-family: 'Lekton';
    line-height: 1.5;
    color: rgb(114, 113, 113);
    margin: 35px 0;
}


@media screen and (min-width: 768px) {
    .AboutPage .split-container {
      display: flex;
    
    }
    
    .split {
      width: 50%;

      
    }
    
    .AboutPage img {
      width: 350px;
    }

}