@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Lekton');



.App .content-container {
  background: rgba(248, 248, 248, 0.65);
  padding: 25px 35px;
  margin-top: 30px;
  height: 100vh;
}





