header {
  margin: 4vh 0;

  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  
} 

.line {
  margin-top: 20px;
  width: 50px;
  height: 3px;
  background-color: black;
}

h1 {
  font-size: 72px;
  font-family: 'Playfair Display', serif;

  height: 85px;
}

.subtitle {
  margin-top: 20px;
}





.blue {
  color: #CACAD6 !important;
}