.ProjectList * {

}

.ProjectList {
  padding-top: 30px;
}


.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}






.overlay:hover {
  background-color: #000000;
}

.Project img:hover {
  opacity: 0.5;
}

.overlay {
  height: 130px;
  width: 231.047px;
}

.project-description {
  color: white;
  position: absolute;
  top: 5px;
  transform-origin: bottom left;
  transform: rotate(-35deg);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
}

.Project:hover > .project-description {
  transform: rotate(0deg);
  margin: 10px;
  opacity: 1
}

.project-description h3 {
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 1px;
}

.project-description p {
  margin-top: 10px;
  font-family: 'Lekton', sans-serif;

}